openapi: 3.2.0
info:
  title: Autify Workspaces API
  version: '2026-09-26'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-26: 10 operation(s) read from 10 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Autify has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 11
    documentation: -1
    pages-with-code: 6
    pages-read: 10
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-26'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://help.autify.com/docs/integrate-with-api.md
  - https://help.autify.com/docs/securing-your-webhooks.md
  - https://help.autify.com/mobile/docs/api-integration.md
  - https://help.autify.com/docs/autify-command-line-interface.md
  - https://help.autify.com/docs/flexible-test-execution-via-api.md
  - https://help.autify.com/mobile/docs/how-to-resolve-api-connectivity-check-failed-failed-to-access-server.md
  - https://helpcenter.autify.com/apidocs/apiworkspaces.md
  - https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidtestplans.md
  - https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidexecutionresults.md
  - https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidtestplanstestplanidrun.md
servers:
- url: https://app.autify.com
security:
- bearer: []
tags:
- name: Workspaces
paths:
  /api/workspaces:
    get:
      operationId: get_api_workspaces
      tags:
      - Workspaces
      summary: GetWorkspaces
      description: Retrieves a list of workspaces.
      x-source: https://helpcenter.autify.com/apidocs/apiworkspaces.md
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiWorkspacesResponse'
      x-evidence:
        kind: documentation
  /api/workspaces/{workspaceid}/testPlans/{testplanid}/run:
    post:
      operationId: post_api_workspaces_workspaceid_testPlans_testplanid_run
      tags:
      - Workspaces
      summary: RunTestPlan
      x-source: https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidtestplanstestplanidrun.md
      parameters:
      - name: workspaceid
        in: path
        required: true
        schema:
          type: string
      - name: testplanid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiWorkspacesWorkspaceidTestplansTestplanidRunRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiWorkspacesWorkspaceidTestplansTestplanidRunResponse'
      x-evidence:
        kind: documentation
  /api/workspaces/{workspaceid}/{id}:
    get:
      operationId: get_api_workspaces_workspaceid_id
      tags:
      - Workspaces
      summary: OpenAPI
      description: Returns a paginated list of execution results for the specified workspace.
      x-source: https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidexecutionresults.md
      parameters:
      - name: workspaceid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
        description: Items per page
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiWorkspacesWorkspaceidIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at id
components:
  schemas:
    GetApiWorkspacesWorkspaceidIdResponse:
      type: object
      properties:
        data:
          type: array
          description: Array of ExecutionResultSummary objects
        page:
          type: integer
        totalPages:
          type: integer
    GetApiWorkspacesResponse:
      type: object
      properties:
        '200':
          type: string
          description: Ok
    PostApiWorkspacesWorkspaceidTestplansTestplanidRunResponse:
      type: object
      properties:
        resultId:
          type: string
    PostApiWorkspacesWorkspaceidTestplansTestplanidRunRequest:
      type: object
      properties:
        urlReplacements:
          type: array
        variableOverrides:
          type: array
          description: Values to use for this run only. They layer over the test plan's saved overrides per variable and never change the plan itself. An override for a variable that none of the plan's scenarios use is accepted but has no effect on the run.
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
