openapi: 3.2.0
info:
  title: Autify ~ API
  version: '2026-09-26'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-26: 10 operation(s) read from 10 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Autify has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 11
    documentation: -1
    pages-with-code: 6
    pages-read: 10
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-26'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://help.autify.com/docs/integrate-with-api.md
  - https://help.autify.com/docs/securing-your-webhooks.md
  - https://help.autify.com/mobile/docs/api-integration.md
  - https://help.autify.com/docs/autify-command-line-interface.md
  - https://help.autify.com/docs/flexible-test-execution-via-api.md
  - https://help.autify.com/mobile/docs/how-to-resolve-api-connectivity-check-failed-failed-to-access-server.md
  - https://helpcenter.autify.com/apidocs/apiworkspaces.md
  - https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidtestplans.md
  - https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidexecutionresults.md
  - https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidtestplanstestplanidrun.md
servers:
- url: https://app.autify.com
security:
- bearer: []
tags:
- name: '~'
paths:
  /api/~:
    get:
      operationId: get_api
      tags:
      - '~'
      summary: GET /api/~
      x-source: https://help.autify.com/mobile/docs/api-integration.md
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -H "Content-Type: application/json"  -H "Authorization: Bearer <TODO: Personal Access Token>"  "https://mobile-app.autify.com/api/~"

          ```'
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
