openapi: 3.1.0
info:
  title: Autify API
  version: '2026-09-26'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-26: 10 operation(s) read from 10 public documentation page(s) (each
    operation names its page in x-source). This is not the provider''s published contract; Autify has published no machine-readable contract that
    the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 11
    documentation: -1
    pages-with-code: 6
    pages-read: 10
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-26'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://help.autify.com/docs/integrate-with-api.md
  - https://help.autify.com/docs/securing-your-webhooks.md
  - https://help.autify.com/mobile/docs/api-integration.md
  - https://help.autify.com/docs/autify-command-line-interface.md
  - https://help.autify.com/docs/flexible-test-execution-via-api.md
  - https://help.autify.com/mobile/docs/how-to-resolve-api-connectivity-check-failed-failed-to-access-server.md
  - https://helpcenter.autify.com/apidocs/apiworkspaces.md
  - https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidtestplans.md
  - https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidexecutionresults.md
  - https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidtestplanstestplanidrun.md
servers:
- url: https://app.autify.com
paths:
  /api/v1/projects/{projectId}/results:
    get:
      operationId: get_api_v1_projects_projectId_results
      tags:
      - Api
      summary: Try directly calling the Autify API
      x-source: https://help.autify.com/mobile/docs/how-to-resolve-api-connectivity-check-failed-failed-to-access-server.md
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /api/v1/projects/{projectid}:
    get:
      operationId: get_api_v1_projects_projectid
      tags:
      - Api
      summary: GET /api/v1/projects/{projectId}
      x-source: https://help.autify.com/mobile/docs/how-to-resolve-api-connectivity-check-failed-failed-to-access-server.md
      parameters:
      - name: projectid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -H "Content-Type: application/json"  -H "Authorization: Bearer <ACCESS_TOKEN>"  "https://mobile-app.autify.com/api/v1/projects/<PROJECT_ID>/results"
          ```'
  /api/workspaces:
    get:
      operationId: get_api_workspaces
      tags:
      - Api
      summary: GetWorkspaces
      description: Retrieves a list of workspaces.
      x-source: https://helpcenter.autify.com/apidocs/apiworkspaces.md
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiWorkspacesResponse'
      x-evidence:
        kind: documentation
  /api/workspaces/{workspaceid}/testPlans/{testplanid}/run:
    post:
      operationId: post_api_workspaces_workspaceid_testPlans_testplanid_run
      tags:
      - Api
      summary: RunTestPlan
      x-source: https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidtestplanstestplanidrun.md
      parameters:
      - name: workspaceid
        in: path
        required: true
        schema:
          type: string
      - name: testplanid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiWorkspacesWorkspaceidTestplansTestplanidRunRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiWorkspacesWorkspaceidTestplansTestplanidRunResponse'
      x-evidence:
        kind: documentation
  /api/workspaces/{workspaceid}/{id}:
    get:
      operationId: get_api_workspaces_workspaceid_id
      tags:
      - Api
      summary: OpenAPI
      description: Returns a paginated list of execution results for the specified workspace.
      x-source: https://helpcenter.autify.com/apidocs/apiworkspacesworkspaceidexecutionresults.md
      parameters:
      - name: workspaceid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
        description: Items per page
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiWorkspacesWorkspaceidIdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at id
  /api/~:
    get:
      operationId: get_api
      tags:
      - Api
      summary: GET /api/~
      x-source: https://help.autify.com/mobile/docs/api-integration.md
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -H "Content-Type: application/json"  -H "Authorization: Bearer <TODO: Personal Access Token>"  "https://mobile-app.autify.com/api/~"

          ```'
  /autify-cli/channels/stable/{stableid}:
    get:
      operationId: get_autify_cli_channels_stable_stableid
      tags:
      - Autify Cli
      summary: GET /autify-cli/channels/stable/autify-linux-x64.tar.gz
      x-source: https://help.autify.com/docs/autify-command-line-interface.md
      parameters:
      - name: stableid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl -O https://autify-cli-assets.s3.us-west-2.amazonaws.com/autify-cli/channels/stable/autify-linux-x64.tar.gz
        collapsed_from: 2 example path(s) differing only at stableId
  /autify-cli/versions/0.2.0/b03bec6/autify-v0.2.0-b03bec6-darwin-arm64.tar.gz:
    get:
      operationId: get_autify_cli_versions_0_2_0_b03bec6_autify_v0_2_0_b03bec6_darwin_arm64_tar_gz
      tags:
      - Autify Cli
      summary: GET /autify-cli/versions/0.2.0/b03bec6/autify-v0.2.0-b03bec6-darwin-arm64.tar.gz
      x-source: https://help.autify.com/docs/autify-command-line-interface.md
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl https://autify-cli-assets.s3.amazonaws.com/autify-cli/versions/0.2.0/b03bec6/autify-v0.2.0-b03bec6-darwin-arm64.tar.gz
          | tar xz

          🍺  /usr/local/Cellar/autify-cli/0.2.0: 10,082 files, 98.7MB, built in 29 seconds

          ```'
  /payload:
    post:
      operationId: post_payload
      tags:
      - Payload
      summary: POST /payload
      x-source: https://help.autify.com/docs/securing-your-webhooks.md
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: http
        snippet: "POST /payload HTTP/1.1 \nHost: localhost:4567 \nX-Autify-Signature: sha1=7d38cdd689735b008b3c702edd92eea23791c5f6 \nContent-Type:\
          \ application/json "
  /projects/0/results/{resultid}:
    get:
      operationId: get_projects_0_results_resultid
      tags:
      - Projects
      summary: GET /projects/0/results/{resultId}
      x-source: https://help.autify.com/docs/integrate-with-api.md
      parameters:
      - name: resultid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: http
        snippet: 'GET /projects/0/results/222 HTTP/1.1

          Accept: application/json, text/plain, */*

          Authorization: Bearer YOUR_PERSONAL_ACCESS_TOKEN

          Host: app.autify.com

          ```'
components:
  schemas:
    GetApiWorkspacesResponse:
      type: object
      properties:
        '200':
          type: string
          description: Ok
    PostApiWorkspacesWorkspaceidTestplansTestplanidRunRequest:
      type: object
      properties:
        urlReplacements:
          type: array
        variableOverrides:
          type: array
          description: Values to use for this run only. They layer over the test plan's saved overrides per variable and never change the plan
            itself. An override for a variable that none of the plan's scenarios use is accepted but has no effect on the run.
    PostApiWorkspacesWorkspaceidTestplansTestplanidRunResponse:
      type: object
      properties:
        resultId:
          type: string
    GetApiWorkspacesWorkspaceidIdResponse:
      type: object
      properties:
        data:
          type: array
          description: Array of ExecutionResultSummary objects
        page:
          type: integer
        totalPages:
          type: integer
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
security:
- bearer: []
tags:
- name: Api
- name: Autify Cli
- name: Payload
- name: Projects
